{% extends 'base.html.twig' %}

{% block body %}

    <h2>Afficher une sortie</h2>
    <div class="affichage">
        <table>
            <tr>
                <td><span>Name</span> {{ trip.name }}</td>
            </tr>
            <tr>
                <td><span>Start date time</span> {{ trip.startDateTime | date("d/m/Y") }}</td>
            </tr>
            <tr>
                <td><span>Deadline</span> {{ trip.deadline | date("d/m/Y") }}</td>
            </tr>
            <tr>
                <td><span>Duration</span> {{ trip.duration }}</td>
            </tr>
            <tr>
                <td><span>Max registrations</span> {{ trip.maxRegistration }}</td>
            </tr>
            <tr>
                <td><span>Informations</span> {{ trip.informations }}</td>
            </tr>
            <tr>
                <td><span>Creator</span> {{ trip.creator }}</td>
            </tr>
            <tr>
                <td><span>Status</span> {{ trip.status }}</td>
            </tr>
            <tr>
                <td><span>Place</span> {{ trip.place }}</td>
            </tr>
            <tr>
                <td><span>Campus</span> {{ trip.campus }}</td>
            </tr>
        </table>

        <h4>Liste des participants inscrits</h4>
        <table>
            <thead>
            <tr>
                <td>Pseudo</td>
                <td>Lastname, firstname</td>
            </tr>
            </thead>
            <tbody>
            {% for users in trip %}
                <tr>
                    <td>{{ user.pseudo }}</td>
                    {#  <td>{{ app.user.firstname }} {{ app.user.lastname }}</td> #}
                </tr>
            {% endfor %}

            </tbody>
        </table>

    </div>

{% endblock %}
