{% extends 'base.html.twig' %}

{% block title %}Hello to your new trip !{% endblock %}

{% block body %}
    <h1> All the trip ! </h1>

    <div id="info">
        <h3> Date : {{ "now"|date('d/m/Y')}}</h3>
        <h3> User : {{ app.user.firstname }}</h3>
    </div>

    <div id ="filters">
        <h4> Filter the trips :</h4>
            <form method="post" action="">
                <label for ="campus">Campus </label>
                <select name="campusChoice" id="campus">
                    {% for campus in campuses %}
                    <option value="">{{ campus.name }}</option>
                    {% endfor %}
                </select>

                <label for ="nameTrip">Name of the trip </label>
                <input type="text" class="search" name ="nameTrip" id="nameTrip">

                <div class="date">
                    <label for="first-time">Between</label>
                    <input type="datetime-local" id="first-time"name="first-time" value="2022-06-12"
                    min="2022-12-12" max="">

                    <label for="last-time">And </label>
                    <input type="datetime-local" id="last-time"name="last-time" value="2023-01-12"
                    min="2023-01-12" max="">
                </div>

                <div class="selector">
                <input type="checkbox" id="organizer" >
                <label for="organizer">Trip where I'm the organizer</label>
                
                <input type="checkbox" id="register">
                <label for="register">Trips where i'm registered</label>
                
                <input type="checkbox" id="notRegister">
                <label for="notRegister">Trips where I'm not registered</label>
                
                <input type="checkbox" id="passed">
                <label for="passed">Trips passed</label>
                </div>

                <input type="submit" name="submit" class="submit" value="Search">
            <form>

    </div>

    <div id = "allTrip">
<table>
    <thead>
        <tr>
            <td>Name Trip</td>
            <td>Start dateTime</td>
            <td>Deadline</td>
            <td>Max Registration</td>
            <td>Status</td>
            <td>Creator</td>
        </tr>
    </thead>
    <tbody>
        {% for trips in trip %}
            <tr>
                <td>{{ trips.name }}</td>
                <td>{{ trips.startDateTime | date("d/m/Y") }}</td>
                <td>{{ trips.deadline |date("d/m/Y") }}</td>
                <td>{{ trips.maxRegistration }}</td>
                <td>{{ trips.status }}</td>
                <td>{{ trips.creator.firstname}} {{trips.creator.lastname}} </td>
            </tr>      
        {% endfor %}
        
    </tbody>
</table>
     {#   {% for trips in trip %}
            <div> {{ trips.name }}</div>
            <div> {{ trips.startDateTime | date("m/d/Y") }}</div>
            <div> {{ trips.deadline |date("m/d/Y") }}</div>
            <div> {{ trips.maxRegistration }}</div>
            <div> {{ trips.status }}</div>
           {# <div> {{ trips.deadline }}</div> #}
       {#     <div> {{ trips.creator }}</div>
        </div>
        {% endfor %}#}

{% endblock %}
