<nav>
    <ul>
        <li><a href="{{ path('main_home') }}" title="Home">Home</a></li>
        <li><a href="{{ path('login') }}" title="Login">Login</a></li>
        <li><a href="{{ path('register') }}" title="Register">Register</a></li>
        
        {% if app.user %}
            <li><a href="{{ path('profil') }}" title="profil">My Profil </a></li>
            <li><a href="{{ path('logout') }}" title="Logout">Logout</a></li>
        {% endif %}
    </ul>
</nav>
