{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ user.firstname }}'s profile</h1>
    <h2>Firstname :</h2>
    <div class="user_element">{{ user.firstname }}</div>
    <h2>Lastname :</h2>
    <div class="user_element">{{ user.lastname }}</div>
    <h2>Email :</h2>
    <div class="user_element">{{ user.email }}</div>
    <h2>Phone :</h2>
    <div class="user_element">{{ user.phone }}</div>
    <h2>Campus :</h2>
    <div class="user_element">{{ user.campus }} </div>
    <br><br>
    {% if user == app.user %}
        <a href="{{ path('users_edit', {'id': app.user.id}) }}" title="edit">Edit</a>
    {% endif %}
{% endblock %}

{% block title %} My Profile {{ parent() }} {% endblock %}

