{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ user.pseudo }}</h1>
    <h2>Firstname :</h2>
    <div class="user_element">{{ user.firstname }}</div>
    <h2>Lastname :</h2>
    <div class="user_element">{{ user.lastname }}</div>
    <h2>Email :</h2>
    <div class="user_element">{{ user.email }}</div>
    <h2>Phone :</h2>
    <div class="user_element">{{ user.phone }}</div>
    <h2>Campus :</h2>
    <div class="user_element">{{ user.campus }} </div>
    {% if user == app.user %}
        <div class="edit"><a href="{{ path('users_editProfile', {'id': app.user.id}) }}" title="editProfile">Edit</a></div>
        <div class="edit"><a href="{{ path('users_editPassword', {'id': app.user.id}) }}" title="editPassword">Change Password</a></div>
    {% endif %}
{% endblock %}

{% block title %} My Profile {{ parent() }} {% endblock %}

